.win-container{
  background-color: #bdbdbd;
  padding:2px;
  border-style: ridge;
  display:flex;
  flex-direction: column;
}

.win-header-bar{
  background-color: #00007b;
  min-height: 23px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.win-header-title{
  padding: 2px;
  color: white;
}

.win-button-group{
  display:flex;
  flex-direction:row;
  align-items: center;
}

.win-button{
  background-color: #bdbdbd;
  min-height:15px;
  min-width:15px;
  margin-right:2px;
  max-width:15px;
  max-height:15px;
  flex:0 0 auto;
  border-style: outset;
  border-width:2px;
}

.win-button>svg{

}

.win-content{
  margin-top:2px;
  border-style: inset;
  border-width:1px;
  display:flex;
  flex-direction: row;
  align-self: stretch;
  flex-grow: 1;
}

.win-inner-content{
  background-color:white;
  flex-grow: 1;
}

/*Conditionals*/
.overflow-scroll{overflow: scroll;}
.overflow-auto{overflow:auto;}
.overflow-hidden{overflow: hidden;}
.overflow-y-scroll{overflow-y: scroll;overflow-x:hidden;}
.overflow-x-scroll{overflow-x: scroll;overflow-y:hidden;}
