<div class="win-container"
     draggable="true"
     ng-hide="options.state == 'closed' || options.state == 'minimized'"
     style="{{options.size&&options.size.width&&options.state!='maximized' ? ('width:' + options.size.width + '; flex-grow:0;') : ''}}
            {{options.size&&options.size.height&&options.state!='maximized' ? ('height:' + options.size.height + ';') : ''}}
            {{options.position&&options.position.x ? ('left:'+options.position.x + 'px;'): ''}}
            {{options.position&&options.position.y ? ('top:'+options.position.y +'px;') : ''}}"
    ng-class="{'fullscreen': options.state=='maximized', 'absolute': options.position}">
  <div class="win-header-bar">
    <div class="win-header-title">{{options.name}}</div>
    <div class="win-button-group">
      <span class="win-button win-minimize" ng-click="minimize()">
        <svg width="15" height="15" viewBox="0 0 15 15">
          <line x1="3" y1="12" x2="12" y2="12" stroke="black" stroke-width="3"/>
        </svg>
      </span>
      <span class="win-button win-maximize" ng-click="maximize()">
        <svg width="15" height="15" viewBox="0 0 15 15">
          <line x1="2" y1="3" x2="13" y2="3" stroke="black" stroke-width="3" />
          <rect width="9" height="9" x="3" y="3" stroke="black" stroke-width="2" fill="none"/>
        </svg>
      </span>
      <span class="win-button win-close" ng-click="close()">
        <svg width="15" height="15" viewBox="0 0 15 15">
          <line x1="3" y1="3" x2="12" y2="12" stroke="black" stroke-width="2" />
          <line x1="3" y1="12" x2="12" y2="3" stroke="black" stroke-width="2" />
        </svg>
      </span>
    </div>
  </div>
  <div class="win-content">
    <div class="win-inner-content"
    ng-class="{
      'overflow-scroll':options.overflow&&options.overflow=='scroll',
      'overflow-auto': options.overflow&&options.overflow=='auto',
      'overflow-hidden': options.overflow&&options.overflow=='hidden',
      'overflow-y-scroll': options.overflow&&options.overflow=='y-scroll',
      'overflow-x-scroll': options.overflow&&options.overflow=='x-scroll'
    }"
    ng-transclude></div>
  </div>
  <div class="win-footer"></div>
</div>
